.category-detail {
    margin: 55px 20px 0;
    padding: 20px;
    color: black;
    min-height: calc(100vh - 200px);
    font-size: 16px;
    background-color: white;
    opacity: 0.9;

    .detail-header {
        color: gray;
        font-size: 14px;
    }

    .detail-operation {
        margin-top: 10px;
    }

    .detail-content {
        margin-top: 20px;
    }
}